/*GLOBAL RESET*/
* {
  margin: 0;
  padding: 0;
 
}
html, body {
  box-sizing: border-box;
  background: #333;
}

/*GENERAL STYLE*/
h1,h2,h3,h4,h5,h6 {
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

img, .profile-image {
  display: none;
}

/*img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}*/

.name {
  background: #343a40;
  font-size: 3em;
  color: #ccc;
  text-align: center;
  text-transform: uppercase
}
.title {
  background: #000;
  color: #fff;
  font-size: 1.25em;
}
i {
  font-size: 2em;
  padding-right: .50em;
}

/*/////////////////////////////////////////////////////////////////////////////////////SOCIAL ICONS////////////////////////////////////*/

.social-icon {
  background: #333;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1.2em;
}
.fa-twitter {color: #1da1f2;}
.fa-instagram {color: #ffdc7d;}
.fa-github {color:#6e5494;}
.fa-codepen {color: firebrick;}
.fa-linkedin {color: #0077B5;}
  
 
  .profile-image {
  display:hidden;
}

.about-me, .skills {
  text-align: center;
  padding: 0 5%;
  font-size: 2.5rem;
}

.skills{
  background: #ccc;
  color: #000;
}
  
  



  
/* MAIN CONTENT COLOR BLOCK */
#home {
  background:#428bca;
}
#home .home {
  color: #fff;
}
  






#main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 3px;
  max-width: 100%;
  margin: 0 auto;
}

#home > i {
 font-size: 2rem;
 display: inline;
 position: relative;
 top: 25%;
 left: 50%;
 color: #428bca;
}


#resume > i {
  font-size: 2rem;
  display: inline;
  position: relative;
  top: 25%;
  left: 50%;
  color: #007e33;
 }

 #work > i {
  font-size: 2rem;
  display: inline;
  position: relative;
  top: 25%;
  left: 50%;
  color: #ff8800;
 }

 #contact > i {
  font-size: 2rem;
  display: inline;
  position: relative;
  top: 25%;
  left: 50%;
  color: #212121;
 }

 #home-content {
   background: #428bca;
   color: #ccc;
 }

  
  
  
  





  
 
  


