/*GLOBAL RESET*/
* {
  margin: 0;
  padding: 0;
}

/*GENERAL STYLE*/
h1,h2,h3,h4,h5,h6 {
  text-align: center;
  margin: 0;
  padding: 1em 0;
}

/*img {
  display: block;
  border: 0;
  width: 100%;
  height: auto;
}*/

.name {
  background: #343a40;
  font-size: 3em;
  color: #fff;
  text-align: center;
}
.title {
  background: #000;
  color: #fff;
  font-size: 1.25em;
}
i {
  font-size: 2em;
  padding-right: .50em;
}

.social-icon {
  background: #333;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  padding: 1.2em;
  
}
.fa-twitter {
  color: #1da1f2;
}
.fa-instagram {
  color: #ffdc7d;
}
.fa-github {
  color:#6e5494;
}
.fa-codepen {
  color: firebrick;
}
.fa-linkedin {
  color: #0077B5;
}
  
#main ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  height: 100px;
  width: auto;
  text-align: center;
  color: #fff;
  font-size: 1em;
  font-weight: bold;
}

#home {background: #428bca;}
#home:hover {background: #0d47a1;}
#resume {background: #00c851;}
#resume:hover {background: #007e33;}
#work {background: #ffbb33;}
#work:hover {background: #ff8800;}
#contact {background: #4b515d;}
#contact:hover {background: #212121;}
  
  





  
 
  


